<!-- <div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Welcome Back
        {{Shop?.site_name}}!</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a>Dashboard</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">

    </div>
  </div>
</div> -->

<div class="container-fluid">
  <!-- <div class="card-group">
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                            <span
                                class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                                class="set-doller">$</sup>18,306</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                            <span
                                class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


  <div class="card mt-0 mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <div class="customize-input float-right">
        <input (dateChange)=reset_mapping($event) class="date-field" matInput [(ngModel)]="active_day"
          [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <a data-toggle="modal" data-target="#create-factor-modal"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm text-white"><i class="fa fa-plus fa-sm text-white-100"></i>
        Add Appointment</a>
    </div>
  </div>

  <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Appointments </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Appoitments">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.customer_name}} - {{factor.customer_address}} -
                {{factor.mobile_number}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Time : {{factor.due_or_spec_time | date : 'medium'}}
              </h4>
              <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">
                Booked at : {{factor.due_or_spec_time | date : 'fullDate'}}
              </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Comments : {{factor.comments}} <br>
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <button class="mr-4 btn btn-circle btn-light" (click)="delete_factor(factor)" color="primary"><i
              class="fa fa-trash" aria-hidden="true"></i></button>
          <!-- <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit"></i></button>
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
              aria-hidden="true"></i></button> -->
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>




</div>














<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Creating_Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="book_form(formValues1)" aria-disabled="true" class="pl-3 pr-3">
          <div *ngIf="isLoading" id="overlay"></div>


          <!--  <ion-datetime (ionFocus)=reset_mapping($event) value={{today}} min={{minSelectabledate}} display-timezone="utc">
          </ion-datetime> -->
          <div class="row my-2 bg-light">
            <div class="col-6 text-primary font-weight-bold">
            </div>
            <div class="col-6">
              <div class="customize-input">
                <input (dateChange)=reset_mapping($event) class="date-field" name="date-form" matInput
                  [(ngModel)]="selected_date" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>
          </div>

          <div id="grid" class="xmovie-container">
            <div class="container">
              <div class="row">
                <div *ngFor="let factor of available_times" (click)=onSeatClick(factor) class="col-3">
                  <div tabindex="1" class="seat">
                    <a class="time-lable btn btn-outline-secondary">{{factor.value | date:'hh:mm a' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-light ">
            <div class="text-primary text-center my-3 font-weight-bold">Selected Time :
              {{ selected_time | date:'hh:mm a' }}
            </div>
          </div>

          <!-- Customer - form - [ lable - id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Customer <span>*</span> </label>
            <ng-select [items]="Visitors" bindLabel="customer_name" autofocus bindValue="visitor_id"
              [(ngModel)]="selectedCustomer" name="customer" (change)=onSelect($event) placeholder="Select Customer">
            </ng-select>
          </div>
          <!-- End of Select Customer -->


          <!-- Sub Category - form - [ lable - id ] - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Sub Category <span>*</span> </label>
            <ng-select [items]="SubCatgories" bindLabel="sc_name" autofocus bindValue="sub_category_id"
              [(ngModel)]="selectedSubCategory" name="subcategory" (change)=onSelect2($event)
              placeholder="Select Sub Category">
            </ng-select>
          </div>
          <!-- End of Select Sub Category -->



          <!-- Comments - comments - text - required -->
          <div class="form-group">
            <label>Comments (Optional)</label>
            <input class="form-control" name="comments" type="text" placeholder="Enter Comments">
          </div>
          <!-- End of Comments -->


          <div class="form-group text-center">
            <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span> Booking ...</span>
            </button>
            <button *ngIf="!isLoading" class="btn btn-primary" type="submit">Book Appointment</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->
