<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container mt-5 px-5">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mt-4">
            <h1>Customer management</h1>
          </div>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h3 class="m-0 font-weight-bold text-primary">Your customers</h3>
              <a data-toggle="modal" data-target="#create-factor-modal"
                class="d-sm-inline btn btn-sm btn-primary shadow-sm text-white"><i class="fa fa-plus fa-sm text-white-50"></i> Add
                Customer</a>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <!-- <th>Edit</th> -->
                      <th>Mobile Number</th>
                      <th>Customer name</th>
                      <th>Customer address</th>
                      <th>Customer Email</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <!-- <th>Edit</th> -->
                      <th>Mobile NUmber</th>
                      <th>Customer name</th>
                      <th>Customer address</th>
                      <th>Customer Email</th>
                      <th>Options</th>
                    </tr>
                  </tfoot>

                  <!--  -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-edit text-gray-500"></i>
                      </td> -->
                      <td>{{factor.customer_mobile}}</td>
                      <td>{{factor.customer_name}}</td>
                      <td>{{factor.customer_address}}</td>
                      <td>{{factor.customer_email}}</td>
                      <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a (click)=show_send_whatsapp(factor) class="dropdown-item"> Send
                            Whatsapp Message</a>
                          <a class="dropdown-item">Customer details</a>
                          <a (click)=show_edit(factor) class="dropdown-item">Edit Customer</a>
                          <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Customer</a>
                        </div>
                      </td>
                      <!-- <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-trash text-gray-500"></i>
                      </td> -->
                    </tr>
                  </tbody>
                  <!--  -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Customer mobile - customer_mobile - text - required -->
          <div class="form-group">
            <label>Customer mobile <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
              #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
            <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
              Customer mobile is
              required</div>
          </div>
          <!-- End of Customer address -->

          <!-- Customer name - customer_name - text - required -->
          <div class="form-group">
            <label>Customer name <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name" #customer_name="ngModel"
              type="text" placeholder="Enter Customer name" required>
            <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Customer
              name is
              required</div>
          </div>
          <!-- End of Customer name -->

          <!-- Customer address - customer_address - text - required -->
          <div class="form-group">
            <label>Customer address </label>
            <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
              #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
          </div>
          <!-- End of Customer address -->

          <!-- Customer Email - customer_email - text - required -->
          <div class="form-group">
            <label>Customer Email</label>
            <input class="form-control" [(ngModel)]="Factor.customer_email" name="customer_email"
              #customer_email="ngModel" type="text" placeholder="Enter Customer Email" required>
          </div>
          <!-- End of Customer Email -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Customer</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Customer mobile - customer_mobile - text - required -->
          <div class="form-group">
            <label>Customer mobile <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
              #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
            <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
              Customer mobile is
              required</div>
          </div>
          <!-- End of Customer address -->

          <!-- Customer name - customer_name - text - required -->
          <div class="form-group">
            <label>Customer name <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name" #customer_name="ngModel"
              type="text" placeholder="Enter Customer name" required>
            <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Customer
              name is
              required</div>
          </div>
          <!-- End of Customer name -->

          <!-- Customer address - customer_address - text - required -->
          <div class="form-group">
            <label>Customer address <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
              #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
            <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
              Customer address is
              required</div>
          </div>
          <!-- End of Customer address -->

          <!-- Customer Email - customer_email - text - required -->
          <div class="form-group">
            <label>Customer Email <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_email" name="customer_email"
              #customer_email="ngModel" type="text" placeholder="Enter Customer Email" required>
            <div class="error" *ngIf="customer_email.touched && !customer_email.valid"> Customer
              address is
              required</div>
          </div>
          <!-- End of Customer Email -->


          <div class="form-group text-center">
            <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
            <button class="btn btn-primary" type="submit">Update Customer</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->


<!-- Whatsapp modal content -->
<div id="whatsapp-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues4="ngForm" (ngSubmit)="send_whatsapp(formValues4)" class="pl-3 pr-3">

          <!-- Customer mobile - customer_mobile - text - required -->
          <div class="form-group">
            <label>Customer mobile <span>*</span> </label>
            <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
              #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
            <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
              Customer mobile is
              required</div>
          </div>
          <!-- End of Customer address -->


          <!--  Message - wp_message - text - required -->
          <div class="form-group">
            <label> Message <span>*</span> </label>
            <textarea class="form-control" [(ngModel)]="Factor.wp_message" name="wp_message" #wp_message="ngModel"
              type="text" placeholder="Enter Message for Customer" required></textarea>
            <div class="error" *ngIf="wp_message.touched && !wp_message.valid"> Customer
              message is
              required</div>
          </div>
          <!-- End of  Message -->


          <div class="form-group text-center">
            <!-- <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button> -->
            <button class="btn btn-primary" type="submit">Send Message</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
