::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0 !important;
}

.footer {
  padding-top: 70vh;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: white
}

/* You can add global styles to this file, and also import other style files */


@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
  zoom: 98%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
