<!-- {
"category_id": "35f040c2-f2f4-4869-97cc-a2f3edf5f314",
"category_name": "Mens",
"category_cover":
"/media/category/35f040c2-f2f4-4869-97cc-a2f3edf5f314/2021-01-24_114357.0099511830234-emmadirfan_9i1kLZK.png",
"category_description": "Lorem Ipsum Lorem Ipsum Lorem Ipsum"
} -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<div class="page-breadcrumb">
  <div class="row d-flex justify-content-between">
    <div class="col-10 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Category Management
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a>Dashboard</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-2">
      <a data-toggle="modal" data-target="#create-factor-modal"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm text-white"><i class="fa fa-plus fa-sm text-white-50"></i> Add
        Category</a>
    </div>
  </div>
</div>

<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container mt-3 px-5">

          <!-- Expansion Panel -->
          <div class="container mt-3">
            <div class="example-action-buttons float-left">
              <!-- <h3> Active Follow-ups </h3> -->
            </div>
            <div class="example-action-buttons float-right">
              <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
            </div> <br>
            <mat-accordion class="example-headers-align container" multi>
              <mat-expansion-panel *ngFor="let factor of Factors">
                <mat-expansion-panel-header>
                  <div class="col-6">
                    <mat-panel-title>
                      <h4 class="m-0 font-weight-bold text-primary">{{factor.category_name}}</h4>
                    </mat-panel-title>
                  </div>
                  <div class="col-4">
                    <mat-panel-description>
                      <h4 class="m-0 font-weight-bold ellipsis text-primary">{{factor.category_description}}
                      </h4>
                    </mat-panel-description>
                  </div>
                  <div class="col-2">
                    <mat-panel-description>
                    </mat-panel-description>
                  </div>
                </mat-expansion-panel-header>


                <div class="row container my-4">
                  <mat-accordion class="example-headers-align container" multi>
                    <mat-expansion-panel *ngFor="let sub of  SubCategories" hideToggle>
                      <mat-expansion-panel-header *ngIf="sub.category_id == factor.category_id">
                        <div class="col-6">
                          <mat-panel-title>
                            <h4 class="m-0 font-weight-bold">{{sub.sc_name}}
                            </h4>
                          </mat-panel-title>
                        </div>
                        <div class="col-4">
                          <mat-panel-description>
                            <h4 class="m-0 ellipsis font-weight-bold">
                              {{sub.sc_description}}
                            </h4>
                          </mat-panel-description>
                        </div>
                        <div class="col-2">
                          <mat-panel-description>
                          </mat-panel-description>
                        </div>
                      </mat-expansion-panel-header>
                      <mat-action-row style="zoom: 80%;">
                        <div class="">
                          <a (click)=show_sub_edit(sub) style="cursor: pointer;" class="dropdown-item"> <i
                              class="fas fa-edit    "></i> Edit
                            Subcategory</a>
                          <a (click)=delete_sub_category(sub) style="cursor: pointer;"
                            class="dropdown-item text-danger"> <i class="fa fa-trash" aria-hidden="true"></i> Delete
                            Subcategory</a>
                        </div>

                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>

                </div>
                <mat-action-row style="zoom: 80%;place-content: center;">
                  <button (click)="add_sub_category(factor)" class="mr-4 btn btn-primary" color="primary"> <i
                      class="fa fa-plus" aria-hidden="true"> </i> Add
                    Subcategory </button>

                  <button id="btnGroupDrop1" type="button" class="btn btn-light float-right dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a (click)=show_edit(factor) style="cursor: pointer;" class="dropdown-item"> <i
                        class="fas fa-edit"></i> Edit Category</a>
                    <a (click)=delete_factor(factor) style="cursor: pointer;" class="dropdown-item text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>Delete Category</a>
                  </div>
                </mat-action-row>

              </mat-expansion-panel>

            </mat-accordion>

          </div>

          <!-- DataTales Example -->
          <!-- <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Your Aramb Services</h6>

            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Edit</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>

                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-edit text-gray-500"></i>
                      </td>
                      <td>{{factor.category_name}}</td>
                      <td>{{factor.category_description}}</td>
                      <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-trash text-gray-500"></i>
                      </td>
                    </tr>
                  </tbody>


                </table>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Category name</label>
            <input class="form-control" [(ngModel)]="Factor.category_name" name="category_name" #category_name="ngModel"
              type="text" placeholder="Enter Category name" required>
            <div class="error" *ngIf="category_name.touched && !category_name.valid"> Category name is
              required</div>
          </div>

          <div class="form-group">
            <label>Category thumbnail</label>
            <input class="form-control" [(ngModel)]="Factor.category_cover" name="category_cover"
              #category_cover="ngModel" (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="category_cover.touched && !category_cover.valid"> Category name is
            </div>
          </div>

          <div class="form-group">
            <label>Category description</label>
            <textarea class="form-control" [(ngModel)]="Factor.category_description" name="category_description"
              #category_description="ngModel" type="text" placeholder="Enter Category description" required></textarea>
            <div class="error" *ngIf="category_description.touched && !category_description.valid"> Category description
              is required</div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Create Category</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Category name</label>
            <input class="form-control" [(ngModel)]="Factor.category_name" name="category_name" #category_name="ngModel"
              type="text" placeholder="Enter Category name" required>
            <div class="error" *ngIf="category_name.touched && !category_name.valid"> Category name is
              required</div>
          </div>

          <div class="form-group">
            <label>Category thumbnail</label>
            <input class="form-control" [(ngModel)]="Factor.category_cover" name="category_cover"
              #category_cover="ngModel" (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="category_cover.touched && !category_cover.valid"> Category name is
            </div>
          </div>

          <div class="form-group">
            <label>Category description</label>
            <textarea class="form-control" [(ngModel)]="Factor.category_description" name="category_description"
              #category_description="ngModel" type="text" placeholder="Enter Category description" required></textarea>
            <div class="error" *ngIf="category_description.touched && !category_description.valid"> Category description
              is required</div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Update Category</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->











<!-- Create  Sub Factor modal content -->
<div id="create-sub-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #CreateSubValues="ngForm" (ngSubmit)="create_sub_category(CreateSubValues)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Subcategory name</label>
            <input class="form-control" [(ngModel)]="Creating_sub_Factor.sc_name" name="sc_name" #sc_name="ngModel"
              type="text" placeholder="Enter Subcategory name" required>
            <div class="error" *ngIf="sc_name.touched && !sc_name.valid"> Subcategory name is
              required</div>
          </div>

          <div class="form-group">
            <label>Subcategory thumbnail</label>
            <input class="form-control" [(ngModel)]="Creating_sub_Factor.sc_cover" name="sc_cover" #sc_cover="ngModel"
              (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="sc_cover.touched && !sc_cover.valid"> Subcategory name is
            </div>
          </div>

          <div class="form-group">
            <label>Subcategory description</label>
            <textarea class="form-control" [(ngModel)]="Creating_sub_Factor.sc_description" name="sc_description"
              #sc_description="ngModel" type="text" placeholder="Enter Subcategory description" required></textarea>
            <div class="error" *ngIf="sc_description.touched && !sc_description.valid"> Subcategory
              description
              is required</div>
          </div>

          <div class="form-group">
            <label>Actual Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Creating_sub_Factor.sc_actual_price" name="sc_actual_price"
              #sc_actual_price="ngModel" type="number" [value]="0" placeholder="Enter Actual Price">
          </div>

          <div class="form-group">
            <label>Discounted Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Creating_sub_Factor.sc_discounted_price" name="sc_discounted_price"
              #sc_discounted_price="ngModel" type="number" [value]="0" placeholder="Enter Discounted Price">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Create Subcategory</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Sub Factor modal content -->
<div id="edit-sub-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #EditSubValues="ngForm" (ngSubmit)="edit_sub_category(EditSubValues)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Subcategory name</label>
            <input class="form-control" [(ngModel)]="Editing_sub_Factor.sc_name" name="sc_name" #sc_name="ngModel"
              type="text" placeholder="Enter Subcategory name" required>
            <div class="error" *ngIf="sc_name.touched && !sc_name.valid"> Subcategory name is
              required</div>
          </div>

          <div class="form-group">
            <label>Subcategory thumbnail</label>
            <input class="form-control" [(ngModel)]="Editing_sub_Factor.sc_cover" name="sc_cover" #sc_cover="ngModel"
              (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="sc_cover.touched && !sc_cover.valid"> Subcategory name is
            </div>
          </div>

          <div class="form-group">
            <label>Subcategory description</label>
            <textarea class="form-control" [(ngModel)]="Editing_sub_Factor.sc_description" name="sc_description"
              #sc_description="ngModel" type="text" placeholder="Enter Subcategory description" required></textarea>
            <div class="error" *ngIf="sc_description.touched && !sc_description.valid"> Subcategory
              description
              is required</div>
          </div>

          <div class="form-group">
            <label>Actual Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Editing_sub_Factor.sc_actual_price" name="sc_actual_price"
              #sc_actual_price="ngModel" type="number" [value]="0" placeholder="Enter Actual Price">
          </div>

          <div class="form-group">
            <label>Discounted Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Editing_sub_Factor.sc_discounted_price" name="sc_discounted_price"
              #sc_discounted_price="ngModel" type="number" [value]="0" placeholder="Enter Discounted Price">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Update Sub Category</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
